.container {
    /* margin: auto; */
    max-width: 200px;
    font-family: sans-serif;
    /* display: flex; */
    /* flex-direction: column; */
}


.cardDiv {
    width: 100%;
}

.heading {
    color: palegreen;
}